.card:hover {
    border: 3px solid #474747;
    cursor: pointer;
}

footer {
    margin-top: 30px;
    z-index: 7;
}

.footer {
    bottom: 0;
    margin: auto;
    position: fixed;
    padding: 5px 5px;
    background-color: #e4e4e4;
    width: 100%;
    text-align: center;
    font-size: 14px;
    z-index: 7;
}

.jumbotron-fluid {
    background-color: #e4e4e4!important;
}

.buttonsResults {
    margin: auto 5px!important;
    color: #4e4e4e;
}

.buttonsResults:hover {
    cursor: pointer; 
}

.homeBtn:hover {
    color: #2dff38ab;
}

.favBtn:hover {
    color: #ffe602;
}

.buttonsDIV {
    z-index: 5;
    position: absolute;
    margin: auto;

}

.buttonGroupCards {
    z-index: 6;
    margin: auto;
}

.optionsDropDown {
    top: 0px;
    right: 30px;
}