.card:hover {
    border: 1px solid #474747;
    cursor: pointer;
}

footer {
    margin-top: 30px;
    z-index: 7;
}

.footer {
    bottom: 0;
    margin: auto;
    position: fixed;
    padding: 5px 5px;
    background-color: #f8f9fa;
    width: 100%;
    text-align: center;
    font-size: 14px;
    z-index: 7;
}

.jumbotron-fluid {
    background-color: #e4e4e4!important;
}

.buttonsResults {
    margin: auto 5px!important;
    color: #4e4e4e;
}

.buttonsResults:hover {
    cursor: pointer; 
}

.homeBtn:hover {
    color: #2dff38ab;
}

.favBtn:hover {
    color: #ffe602;
}

.downAngle, .upAngle {
    margin: 10px;
    color: #5a5a5a;
}

.downAngle:hover, .upAngle:hover {
    margin: 10px;
    color: #272727;
}

.buttonsDIV {
    top: 100%;
    height: 100%;
    text-align: center;
}

.buttonGroupCards {
    margin: auto;
    height: 50px;
    width: 100%;
    padding: 5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5;
}

.detailsDIV, .forecastDIV, .changeDIV, .deleteDIV {
    margin: auto;
    height: 50px;
    width: 100%;
}

.detailsDIV:hover, .forecastDIV:hover,
.changeDIV:hover {
    border-radius: 5px;
    color: white;
    background-color: #5a5a5a;
}

.deleteButtonMP:hover {
    border-radius: 5px;
    background-color: #ff5151;
    color: white!important;
}

.iconNAV {
    color: #8383ff!important;
}

.iconWeather {
    height: 80px;
    width: 80px;
}

.maxTemp {
    background-color: #ff8558;
    border-radius: 20px;
    margin: auto auto 5px auto;
    height: 30px;
    width: 70px;
}
.minTemp {
    background-color: #5e5eff;
    border-radius: 20px;
    margin: 5px auto auto auto;
    height: 30px;
    width: 70px;
}

.maxTemp .max, .minTemp .min {
    color: white;
    margin: auto;
    display: inline-block;
}

#rotatedArrow {
    margin: 10px;
}

.searchBtn {
    color: #5a5a5a;
}

.searchBtn:hover {
    color: #1a1a1a;
}

/* Details table */

.iHumidity {
    font-size: 30px; 
    color: #5b86ff; 
    display:inline-block;
    padding: 5px;
}

.pHumidity {
    display:inline-block
}

.iPressure {
    font-size: 30px; 
    color: #754600; 
    display:inline-block;
    padding: 5px;
}

.pPressure {
    display:inline-block
}

.iTemperature {
    font-size: 30px; 
    color: #006ace; 
    display:inline-block;
    padding: 5px;
}
.pTemperature {
    display:inline-block
}

.iCloudy {
    font-size: 30px; 
    color: #757575;
    display:inline-block;
    padding: 5px;
}

.pCloudy {
    display:inline-block
}

.iWindy {
    font-size: 30px; 
    color: #757575;
    display:inline-block;
    padding: 5px;
}

.pWindy {
    display:inline-block;
}

.iSunset, .iSunrise {
    font-size: 30px; 
    color: #ffa162;
    display:inline-block;
    padding: 5px;
}

.pSunset, .pSunrise {
    display:inline-block
}

.firstCol, .secondCol, .thirdCol, .forthCol {
    display:inline-block;
    margin: 2%;
}

.fCol h2, .fCol p {
    display:inline-block;
    margin: 0;
}

.nameCoords {
    margin: 2% 2%;
    margin-bottom: 0;
}

.utcDescri {
    margin: 3% 4%;
    margin-bottom: 0;
}

.iconMaxMin {
    padding: 20%;
}

.axis path {
  fill: none;
  stroke: #000000;
  shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: #ff733b;
    stroke-width: 2;
    shape-rendering: geometricPrecision;
}

.area { 
    fill: #fddccf;
}

.aewrwerwrea { 
    fill: #ffffff;
}